.wrapper {
  position: relative;
  min-width: 400px;
  max-width: 500px;
  margin: 50px auto 0;
  background: white;
  border-radius: 30px;
  padding: 2rem 2rem;
  box-shadow: 0 0 250px #000;
  background-color: #354152;
}

.title {
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #707981;
}

.titleContacts {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #707981;
}
